canvas {
  max-width: 600px;
  margin-top: 20px;
}

.add-btn {
  padding: 10px 15px;
  border: none;
  background: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 350px;
}

.modal-box input,
.modal-box select {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.actions {
  display: flex;
  justify-content: space-between;
}
